/**
 * @file
 * Replaces Drupal core's system.messages.css.
 */

@import "base";
@import "ux_styleguide/drupal/seven/system/system.messages";

.warning{
	background-color: #FFFFEE;
}
.error{
	background-color: #FFEEEE;
}