/**
 * @file
 * Replaces Drupal core's system.theme.css.
 */

@import "base";
@import "ux_styleguide/drupal/seven/system/system.theme";

.views-exposed-form {
    .views-exposed-widget {
        vertical-align: top;
    }
}
