.dnd-library-wrapper .editor-item .meta.type-commerce_product {
  background-image: url('icons/commerce-product.png');
}
.scald-menu .add-buttons .add-commerce_product {
  background: url('icons/commerce-product-large-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-commerce_product:hover {
  background-image: url('icons/commerce-product-large-color.png');
}
