/* generic settings */
/* line 3, ../sass/_buttons.scss */
.content-action-button {
  background-color: #2fa6e5;
  text-decoration: none;
  padding: 2px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 1px;
  border: 1px outset #b7e0f6;
  border-radius: 3px;
}
/* line 14, ../sass/_buttons.scss */
.content-action-button:link, .content-action-button:visited {
  color: white;
}

/* rounded button sizes */
/* button status */
/* line 23, ../sass/_buttons.scss */
.button {
  /* background */
  color: white;
  background-color: #2fa6e5;
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, Ubuntu, "Droid Sans", Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 11px;
  line-height: 1.46em;
  padding: 5px 10px;
}
/* line 40, ../sass/_mixins.scss */
.button:link, .button:visited {
  transition: All 0.5s ease 0s;
  text-shadow: 0 -1px 1px rgba(37, 56, 7, 0.6);
  color: white;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
/* line 48, ../sass/_mixins.scss */
.button:hover, .button a, .button a:hover, .button:visited, .button a:visited {
  color: white;
  background-color: #5cb9eb;
  background-size: 100% 120%;
  background-position: 0 0;
}

/**
 * To revert to the default style defined by the ember theme, simply comment out or delete the contents of this file.
 */
/* line 8, ../sass/nnlm-style.scss */
.views-exposed-form {
  background-color: #444;
  border-radius: 1em;
  padding: .5em;
  border: 1px solid #919191;
  color: #eeeeee;
}
/* line 15, ../sass/nnlm-style.scss */
.views-exposed-form .views-exposed-widgets {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 22, ../sass/nnlm-style.scss */
.views-exposed-form .views-exposed-widgets .views-exposed-widget {
  color: #bbbbbb;
  float: none;
  vertical-align: top;
}
/* line 27, ../sass/nnlm-style.scss */
.views-exposed-form .views-exposed-widgets .views-exposed-widget label, .views-exposed-form .views-exposed-widgets .views-exposed-widget .description {
  font-weight: normal;
  color: #eeeeee;
  opacity: 1;
}
/* line 32, ../sass/nnlm-style.scss */
.views-exposed-form .views-exposed-widgets .views-exposed-widget .description {
  color: #d5d5d5;
}
/* line 35, ../sass/nnlm-style.scss */
.views-exposed-form .views-exposed-widgets .views-exposed-widget .form-submit {
  margin: 0;
}
/* line 39, ../sass/nnlm-style.scss */
.views-exposed-form .views-exposed-widgets .views-exposed-widget .views-submit-button, .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-reset-button {
  vertical-align: middle;
}
/* line 43, ../sass/nnlm-style.scss */
.views-exposed-form .views-exposed-widgets .views-exposed-widget:hover {
  color: #bbbbbb;
}

/* line 53, ../sass/nnlm-style.scss */
tbody tr td.views-field-field-tags .tags, tbody tr td.views-field-field-tags li, tbody tr td.views-field-rid .tags, tbody tr td.views-field-rid li {
  background-color: #444;
  color: #eeeeee;
  border: 1px 1em;
  display: inline;
  padding: 0 5px;
  border-radius: 1em;
  white-space: nowrap;
  line-height: 1.2em;
}
/* line 62, ../sass/nnlm-style.scss */
tbody tr td.views-field-field-tags .tags:hover, tbody tr td.views-field-field-tags li:hover, tbody tr td.views-field-rid .tags:hover, tbody tr td.views-field-rid li:hover {
  background-color: #444;
}

/* line 71, ../sass/nnlm-style.scss */
.action-links li {
  display: inline-block;
}
/* line 73, ../sass/nnlm-style.scss */
.action-links li:before {
  content: '';
}

/* line 80, ../sass/nnlm-style.scss */
.actions .action-links li {
  /* background */
  color: white;
  background-color: #2fa6e5;
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, Ubuntu, "Droid Sans", Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  /* medium is the default */
  font-size: 13px;
  line-height: 1.62em;
  padding: 8px 16px;
}
/* line 40, ../sass/_mixins.scss */
.actions .action-links li:link, .actions .action-links li:visited {
  transition: All 0.5s ease 0s;
  text-shadow: 0 -1px 1px rgba(37, 56, 7, 0.6);
  color: white;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
/* line 48, ../sass/_mixins.scss */
.actions .action-links li:hover, .actions .action-links li a, .actions .action-links li a:hover, .actions .action-links li:visited, .actions .action-links li a:visited {
  color: white;
  background-color: #5cb9eb;
  background-size: 100% 120%;
  background-position: 0 0;
}

/**
 * updates to the scald dnd interface
 */
/* line 6, ../sass/_scald.scss */
#views-exposed-form-scald-library-dnd-library-1 .views-exposed-form .views-exposed-widgets {
  align-items: flex-start;
  flex-direction: column;
}
/* line 10, ../sass/_scald.scss */
#views-exposed-form-scald-library-dnd-library-1 .views-exposed-form .views-submit-button, #views-exposed-form-scald-library-dnd-library-1 .views-exposed-form .views-reset-button {
  width: 90%;
  margin: .5em auto;
}
