{% macro accounts(data, options) %}
	{% set display = options.display[0] %}
	{% set wrapper = (display == 'inline' ? 'span' : 'ul') %}
	{% set tag = (display == 'inline' ? 'span' : 'li') %}
	{% set separator = (display == 'inline' ? '<span class="sep">, </span>' : '') %}
	{% if data %}
	{% spaceless %}
	<{{wrapper}} class="accounts">
	{% for account in data %}
		{{- separator|raw}}<{{tag}} class="account"><span title="{{ account.AccountTypeDescription }}" class="{{ account.vcard_class }} account_value {{ account.AccountImageIcon }}">{{ account.AccountValue }}</span></{{tag}}>
	{% endfor %}
	</{{wrapper}}>
	{% endspaceless %}
	{% endif %}
{% endmacro %}