<!-- Template list -->
{% from "people.twig" import render_people, render_people_grouped %}
	{% set display = options.display[0] %}
	{% set group = options.group[0] %}
{% spaceless %}
<div class="rosters-output template-lists display-{{display}}">
	{#<pre>Data: {{ dump(lists) }}</pre>#}
	{#<pre>Options: {{ dump(options) }}</pre>#}
	{% for list in lists %}
		{% if 'list_title' in options.fields %}<p class="list-title">{{ list.ListTitle }}</h2>{% endif %}
		{% if 'list_description' in options.fields %}<p class="list-description">{{ list.ListDescription }}</h3>{% endif %}
		<div class='list-body'>
			{% if group is empty or group == 'none' %}
				{{ render_people(list.people, options) }}
			{% else %}
				{{ render_people_grouped(list.people, options) }}
			{% endif %}

		</div>
	{% endfor %}
</div>
{% endspaceless %}
