/**
 * @file
 * Replaces Drupal core's system.menus.css.
 */
[dir] .primary, [dir]
.secondary {
  padding-right: 0;
  padding-left: 0;
}
.primary,
.primary li,
.secondary,
.secondary li {
  list-style-type: none;
}
.primary li,
.secondary li {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
[dir="ltr"] .primary li, [dir="ltr"]
.secondary li {
  margin-right: 0.70711em;
}
[dir="ltr"] .primary li:last-child, [dir="ltr"]
.secondary li:last-child {
  margin-right: 0;
}
[dir="rtl"] .primary li, [dir="rtl"]
.secondary li {
  margin-left: 0.70711em;
}
[dir="rtl"] .primary li:last-child, [dir="rtl"]
.secondary li:last-child {
  margin-left: 0;
}
.primary a,
.secondary a {
  display: inline-block;
  text-decoration: none;
}
.primary a, .primary a:link, .primary a:visited,
.secondary a,
.secondary a:link,
.secondary a:visited {
  color: #848484;
}
.primary a:active, .primary a.active, .primary a:hover,
.secondary a:active,
.secondary a.active,
.secondary a:hover {
  color: #333333;
}

.primary li {
  border-bottom: 0.35355em solid transparent;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
.primary > [class*="active"],
.primary > :hover {
  border-color: #f05724;
}
.primary > [class*="active"] a,
.primary > :hover a {
  color: #333333;
}
.primary a {
  padding: 0.35355em 0;
  font-size: 1.41421em;
  font-weight: 200;
}

.secondary {
  margin-top: -1.06066em;
  padding-top: 0.70711em;
}
.secondary a {
  font-weight: 700;
}

/**
 * Markup generated by theme_menu_tree().
 */
.menu {
  border: none;
  list-style: none;
  text-align: left;
  /* LTR */
}
.menu .expanded {
  list-style-image: url('../images/menu-expanded.png?1390844465');
  list-style-type: circle;
}
.menu .collapsed {
  list-style-image: url('../images/menu-collapsed.png?1390844465');
  /* LTR */
  list-style-type: disc;
}
.menu .leaf {
  list-style-image: url('../images/menu-leaf.png?1390844465');
  list-style-type: square;
}
.menu .active {
  color: #f05724;
}

td.menu-disabled {
  background: #ccc;
}

/**
 * Markup generated by theme_links().
 */
.inline {
  display: inline-block;
  margin: 0;
}
[dir="ltr"] .inline, [dir="rtl"] .inline {
  padding: 0;
}
.inline li {
  display: inline-block;
  margin: 0;
  list-style-type: none;
}
[dir="ltr"] .inline li {
  margin-right: 0.35355em;
}
[dir="ltr"] .inline li:last-child {
  margin-right: 0;
}
[dir="rtl"] .inline li {
  margin-left: 0.35355em;
}
[dir="rtl"] .inline li:last-child {
  margin-left: 0;
}

/**
 * Markup generated by theme_breadcrumb().
 */
.breadcrumb {
  margin: 1.5em 0;
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
#branding .primary,
#branding .secondary {
  margin-top: 0;
  margin-bottom: 0;
}
#branding .primary > [class*="active"] a,
#branding .primary > :hover a,
#branding .secondary > [class*="active"] a,
#branding .secondary > :hover a {
  color: white;
}
#branding .secondary {
  margin: 0 -2.25em;
  padding: 0.5em 2.25em;
  background-color: #3d3d3d;
}
